@tailwind base;
@tailwind components;

:root {
  --background: #f8f8f8;
  --foreground: #333333;

  --muted: #f5f5f5;
  --muted-1: #e0e0e0;
  --muted-2: #d4d4d4;
  --muted-3: #c8c8c8;
  --muted-foreground: #333333;

  --card: #ececec;
  --card-foreground: #333333;

  --popover: #ececec;
  --popover-foreground: #333333;

  --border: #ececec;

  --input: #ececec;

  --primary: #333333;
  --primary-foreground: #f8f8f8;

  --secondary: #ececec;
  --secondary-foreground: #333333;

  --accent: #ececec;
  --accent-foreground: #333333;

  --destructive: #333333;
  --destructive-foreground: #f8f8f8;

  --ring: #dadada;
}
.dark {
  --background: #1c1c1c;
  --foreground: #ffffff;

  --muted: #333333;
  --muted-1: #2b2b2b;
  --muted-2: #242424;
  --muted-3: #1d1d1d;
  --muted-foreground: #ffffff;

  --card: #333333;
  --card-foreground: #ffffff;

  --popover: #333333;
  --popover-foreground: #ffffff;

  --border: #333333;

  --input: #333333;

  --primary: #ffffff;
  --primary-foreground: #1c1c1c;

  --secondary: #333333;
  --secondary-foreground: #ffffff;

  --accent: #333333;
  --accent-foreground: #ffffff;

  --destructive: #ffffff;
  --destructive-foreground: #1c1c1c;

  --ring: #2b2b2b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
@tailwind utilities;
