name: PREPROD - Docker Image CICD

on:
  push:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Save CA certificate
        run: echo "${{ secrets.NODE_CERT }}" | base64 --decode > ca-certificate.crt
      - name: Build the Docker image
        env:
          NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
          NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}
          NEXT_PUBLIC_BASE_URL: ${{ secrets.NEXT_PUBLIC_BASE_URL_PREPROD }}
        run: |
          # Save CA certificate
          echo "${{ secrets.NODE_CERT }}" | base64 --decode > ./cv_next/ca-certificate.crt
          docker build ./cv_next --file ./cv_next/DockerfileDev --build-arg NEXT_PUBLIC_SUPABASE_URL=${{ secrets.NEXT_PUBLIC_SUPABASE_URL }} --build-arg NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }} --build-arg ../CA_CERTIFICATE_PATH=ca-certificate.crt --build-arg NEXT_PUBLIC_BASE_URL=${{ secrets.NEXT_PUBLIC_BASE_URL_PREPROD }} --tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPONAME }}:${{ secrets.DOCKERHUB_TAG_PREPROD }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: pushing the image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPONAME }}:${{ secrets.DOCKERHUB_TAG_PREPROD }}
      - name: finishing the creating image
        run: echo "finished building and integrating the code in the image"

      - name: CD PIPE - rebuilding the app - bro what
        run: 'curl -s -o /dev/null -H "Content-Type: application/json" -H "Authorization: Bearer ${{ secrets.DIGITALOCEAN_TOKEN }}" "https://api.digitalocean.com/v2/apps/${{ secrets.DIGITALOCEAN_DP_ID }}/deployments" -XPOST -d ''{"force_build": true}'''
